.slider-buttons {
    display: none;
}

@media(min-width: $desktopResolution) {
    .slider-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 106px;
        position: absolute;
        top: 520px;
        right: 400px;
        z-index: 800;

        button {
            width: 32px;
            height: 32px;
            background-color: $mainColor;
            border-radius: 100%;
            border: none;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                width: 10px;
                height: 10px;
                border: 1px solid $whiteColor;
                transform: rotate(45deg);
                border-bottom: 1px solid transparent;
                border-left: 1px solid transparent;
                left: 8px;
            }

            &:hover,
            &:focus {
                cursor: pointer;
                opacity: 0.4;
            }
        }

        button:first-of-type {
            &::after {
                transform: rotate(-135deg);
                left: 12px;
            }
        }

        .swiper-button-disabled {
            opacity: 0.4;
            background-color: rgba($color: $whiteColor, $alpha: 0.4);
        }

    }
}