$gotham: "Gotham Pro", "Arial", sans-serif;

$textColor: #444444;
$textGray: #888888;
$mainBlue: #00adef;
$borderGray: #eeeeee;
$arrowGray: #f6f6f6;
$lightGreen: #eefcf6;
$lightOrange: #fcf4ed;
$green: #3ddc97;
$orange: #e49f62;

$tabletResolution: 769px;
$mobileResolution: 500px;